header {
    border-bottom-width: 10px;
    text-color: red;
  }

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;

  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
    background-color: white;

  }
    
  
  .calendar-row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid rgb(189, 182, 182);
    background-color: lightgrey;

  }
  
  
  .past-hour {
    background-color: rgb(189, 189, 189);
    border-color: gray;
  }
  
  .present-hour {
    background-color: crimson;
    border-color: crimson;
  }
  
  .future-hour {
    background-color: rgb(90, 177, 90);
    border-color: rgb(41, 136, 41);
  }
  
  button {
    border-radius: 0px 5px 5px 0px;
    font-size: 2em;
    background-color: #06AED5;
    color: white;
  }
  
  .button i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }